<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueDemo-2018-01-28</title>
    <link rel="stylesheet" href="index.css">
    <script src="./lib/vue-v2.5.13.js"></script>
</head>

<body>
    <div id="app">
        {{test}}
        <button v-on:click.once="helloWorld()" @dblclick="hey('man')">click it!</button>
        <a v-bind:href="website">必应</a>
        <p v-html="websiteTag">这里往p标签里插入了a标签</p>

        <div id="canvas" v-on:mousemove="updateXY(event)">
            {{mouseX}},{{mouseY}}
            <p>事件修饰符的使用：</p>
            <span v-on:mousemove.stop="">Stop Moving阻止事件冒泡，所以div上的mousemove事件不会被触发。</span>
            <a v-on:click.prevent="" href="https://cn.bing.com/">此a标签的默认事件被prevent修饰符阻止了。</a>
        </div>

        <p>键盘事件：链式修饰符（要同时松开alt和enter键才会触发keyUp方法。）</p>
        <input type="text" v-on:keyup.alt.enter="keyUp()">

        <p v-bind:class="{changeColor:changeColor}">测试v-bind:class</p>
        <button v-on:click="changeColor=!changeColor">改变颜色</button>

        <p>使用v-for遍历数组和对象</p>
        <p>v-for="(user,index) in userArr"</p>
        <p>v-for="(val,key) in userObj"</p>
    </div>
    <script src="./index.js"></script>
</body>

</html>